<!DOCTYPE html>
<html>
<head>
	<title>CRUD</title>
	 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='a.css') }}">
	 
	</style>
</head>
<body>
   <h1 style=" text-align: center;"><em>Welcome</em></h1>
   <hr>
   <h5>CREUD operations </h5>
   <table border='1' style="width:100%">
   	<tr>
   		<td><h3><a href="creat.html">creat</a></h3></td>
   	</tr>
   	<tr>
   		<td><h3><a href="read.html">read</a></h3></td>
   	</tr>
   	<tr>
   		<td><h3><a href="update.html">update</a></h3></td>
   	</tr>
   	<tr>
   		<td><h3><a href="delect.html">delete</a></h3></td>
   	</tr>
   </table>
</body>
</html>